*
!package.json
!yarn.lock

!common/package.json
!database/package.json
!scraper/package.json
!server/package.json
!client/package.json
!use-fetched-state/package.json

!node_modules

!common/dist
!database/dist
!scraper/dist
!server/dist
!client/build
!use-fetched-state/dist

!database/data/
database/data/emails.json

#### this sucks
###!server/postinstall.ts
###!server/src/config.ts
