# .gitignore

# manual disabling
*.off

# temporarily disabled until [1] is merged
# [1] https://github.com/kiprasmel/turbo-schedule/pull/24
/rectifier/

# testing
/test-server/

# untracked stuff that I might want to use later
/stuff/

/node_modules/

# ts
tsconfig.tsbuildinfo

.cache

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.yarn-integrity

# generated after a build.
# will be copied to a docker image, or if built in prod - will remain there.
build-info.json

/data*
!/database

NEXT.md
